header {
    letter-spacing: 1px;
    position: fiexed;
    top: 0;
}

header p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    color: #fff;
    margin-top: 10px;
}

header svg {
    margin-right: 0.5rem;
    width: 30px;
    height: 30px;
}
